apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins-nexus-ingress
spec:
  rules:
    - host: {{ .Values.ingress.hosts.jenkins }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: jenkins
                port:
                  number: 8080
    - host: {{ .Values.ingress.hosts.nexus }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: nexus-repository-manager
                port:
                  number: 8081
